/* ================= GLOBAL ================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: #f5f7fa;
}

a { text-decoration: none; }

ul { list-style: none; }




/* ================= HEADER ================= */
.header {
    width: 100%;
    padding: 18px 40px;
    background: #ce4eee;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 28px;
    font-weight: 700;
}

.logo span {
    color: #00d4ff;
}

.nav-links {
    display: flex;
    gap: 25px;
}

/* Dropdown Wrapper */
.dropdown {
    position: relative;
}

/* Dropdown Button */
.dropdown-btn {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Desktop Hover */
@media (min-width: 901px) {
    .dropdown:hover .dropdown-content {
        display: block;
    }
}

/* Dropdown Menu */
.dropdown-content {
    display: none;
    position: absolute;
    top: 38px;
    left: 0;
    background: #12274d;
    width: 160px;
    border-radius: 8px;
    padding: 10px 0;
    z-index: 999;
}

.dropdown-content li a {
    display: block;
    padding: 10px 15px;
    color: white;
}

.dropdown-content li a:hover {
    background: #0e1c33;
}

/* Toggle */
.menu-toggle {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

li a{
    color:white;
}



/* ================= FOOTER ================= */
.footer {
    background: #4d95f3;
    padding-top: 40px;
    color: white;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    flex-wrap: wrap;
}

/* Footer Boxes */
.footer-box h3 {
    margin-bottom: 15px;
    font-size: 20px;
    color: #b2fc76;
}

.footer-box p, 
.footer-box a {
    color: #000000;
    font-size: 14px;
    line-height: 1.6;
}

.footer-box ul {
    list-style: none;
}

.footer-box ul li {
    margin-bottom: 8px;
}

.footer-box ul li a {
    text-decoration: none;
    transition: 0.3s;
}

.footer-box ul li a:hover {
    color: #00e1ff;
}


.footer-bottom {
    text-align: center;
    background: #6197d8;
    padding: 15px 0;
}

.footer-social a {
    display: inline-block;
    margin-right: 12px;
    font-size: 18px;
    width: 38px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    background: #111;
    color: #00e1ff;
    border: 1px solid #00e1ff;
    transition: 0.3s;
}

.footer-social a:hover {
    background: #00e1ff;
    color: #6bf335;
    transform: translateY(-5px);
}

/* Map */
.footer-box iframe {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    border: none;
}


/* ================= RESPONSIVE ================= */
@media (max-width: 900px) {

    .nav-links {
        display: none;
        flex-direction: column;
        background: #0b1f3a;
        position: absolute;
        top: 70px;
        right: 20px;
        width: 200px;
        padding: 20px;
        border-radius: 10px;
        z-index: 1000;
    }

    .menu-toggle {
        display: block;
    }

    .footer-box {
        width: 45%;
        margin-bottom: 30px;
    }
}

@media (max-width: 500px) {
    .footer-box {
        width: 100%;
    }
}




